<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>The USA's Historical Trends in Google Search</title>
		<link rel="stylesheet" type="text/css" href="style.css">
    </head>
	<body>
        <div id="my_dataviz"></div>
        <script src="https://d3js.org/d3.v4.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        <script src="{{ url_for('static', filename='googletrends.js') }}"></script>

        <nav>
            <h1>The USA's Historical Trends in Google Search</h1>
            <h5>Utilize each of the categories of the trends from 2006 to 2011</h5>
            <h6>By Rachel Roundtree and Hyerim Hwang</h6>
            <h4>Updated on December 4, 2019</h4>
        </nav>
        <p>For Project 2, we want to use Selenium to scrap data from the Google Trends page and pull images from Google Images using
                Google's API and put it in a MongoDB database.
                We plan to keep and utilize each of the categories of the trends and the 10 results in each category, and we also want to
                try and scrape multiple years of Google trends.
                Once we have scraped and cleaned our html data and stored it in the database, we will then use it in an interactive D3 js
                lollipop visualization.
                There will be 2 filters on the webpage: one for the year and one for the category of the trend.
                Each of the lollipop circles will be interactive with a mouseover popup that will have the name of the trend and a google
                image of the trend with the top related search query to the trend.</p>
       <div>
           <div>
                <button onclick="update('var1')">Year</button>
                <button onclick="update('var2')">Trend Category</button>  
           </div>
           <div id="plot"></div>
       </div>
       <caption>Sources:<br>All keywords by <a href='https://trends.google.com/trends/yis/2011/US/'>Google Trends</a></caption>
       <caption>Available code here:<br> <a href='https://trends.google.com/trends/yis/2011/US/'>Git Lab</a></caption>
        
</script>
    
</body>
</html>
